{% extends 'base.html.twig' %}

{% block body %}
<div class="left">
    <a href="/" target="_blank" class="logo">
        <img src="images/logo_symfony.png" alt="Logo" />
    </a>
</div>
<div class="right" id="gallery">
    <div id="social"></div>
    <section id="content"></section>
    <section id="footer" class="footer"></section>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/all.css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/albums.js"></script>
{% endblock %}
