<h3><a href="#album/<%= id %>"><%= title %></a></h3>
<p class="about"><strong><%= albumDate %></strong><small><%= albumTime %></small>&nbsp;&nbsp;&nbsp;[ <%= imagesCount %> ]</p>
<p class="description"><%= description %></p>