    <h1 class="title">Image Gallery</h1>
    <p class="description">The best gallery of your preferred photos</p>
    <ul class="menu">
    <li><a href="/#albums" class="button main">Look At Albums</a></li>
    <li><a href="/#albums_detailed" class="button main">Albums by Limit(10)</a></li>
    </ul>
