<h1><%= title %></h1>
<div style="margin-bottom:20px;">
    <%= description %>&nbsp;&nbsp;[&nbsp;&nbsp;<a href="#albums" style="color:#0f9e21;">&lt;&lt;Albums</a>&nbsp;&nbsp;]
</div>
<div class="images"></div>
<div class="more_box clearfix">
    <a href="#album/<%= id %>/page/<%= page %>" id="more_link" class="button more">More&nbsp;&gt;&gt;</a>
</div>